@font-face {
    font-family: 'signPainter';
    src: url('/fonts/SignPainter-HouseScript.ttf')
}

@font-face {
    font-family: 'sylfaen';
    src: url('/fonts/sylfaen.ttf')
}

* {
    box-sizing: border-box;
    background-image: url("images/project5.png");
    overflow-x: hidden;
}

h1 {
    font-family: 'sylfaen';
    font-size: 3rem;
    text-align: center;
    color: #c29525;
} 



.gallery img {
    width: 600px;
    height: 450px;
}

.des {
    font-family: 'signPainter';
    font-size: 1.5rem;
    color: #c29525;
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

.scroll-btn {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #c29525;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 0.3rem;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}


a {
    width: 300;
    height: 200;
}