* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.navbar {
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 130px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a  {
    text-decoration: none;
    color: #c29525;
    font-size: 14px;
    padding: 5px 2px;
}

